@media print {
  body * {
    visibility: hidden;
    /* position: relative; */
  }
  #section-to-print table tr th{
    text-align: center;
  }
  #section-to-hide,
  #section-to-hide *{
    visibility: hidden !important;
  }
  #section-to-print,
  #section-to-print *,
  #section-to-printBill,
  #section-to-printBill * {
    visibility: visible;
  }
  #section-to-print {
    font-size: 18px;
  }
  #section-to-print table tr th {
    white-space: nowrap;
  }
  #section-to-print table {
    font-size: 18px;
    line-height: 0.8;
  }
  #section-to-print,#section-to-printBill {
    position: absolute;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 30px;
    padding: 20px;
  }
  .no-print{
    display: none;
  }
  p{
    font-size: 16px !important;
  }
  #titlePrint{
    font-size: 30px;
    font-weight: bold !important;
  }
  .titleDatePrint{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    
  }
}
@font-face {
  font-family: rsu-font;
  src: url("./fonts/RSU_Regular.ttf");
}
body {
  font-family: rsu-font !important;
}
.boxSell {
  background: white;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-header {
  padding: 10px;
}
.listSetting {
  font-size: 1.2em;
  text-align: left;
  line-height: 2;
}
table{
  text-align: center;
}



